<h1>{{title}}</h1>

<div class="timeline">
  <div class="timeline_boton">
    <button (click)="refresh()">Refrescar</button>
  </div>
  <div *ngFor="let publication of publications" class="timeline_box">
    <div class="publicacion_imagen">
      <img *ngIf="publication.user.image" src="{{url+'getImage/'+publication.user.image}}"/>
      <img *ngIf="!publication.user.image" src="assets/default/banner_default.jpg"/>
    </div>
    <div class="publicacion_datos">
      <a [routerLink]="['/profile',publication.user._id]">{{publication.user.nick}} | @{{publication.user.name}}</a>
      <span class="date">
            {{ (publication.created_at) * 1000 | date: 'medium'}}
      </span>
    </div>
    <p>{{publication.text}}</p>
    <div *ngIf="publication.file != 'null'" class="publicacion_imagen">
      <img src="{{url+'publication-image/' + publication.file}}"/>
    </div>
    <button *ngIf="this.identity._id == publication.user._id" (click)="deletePublication(publication._id)">
      Borrar
    </button>
    <hr/>
  </div>
  <div *ngIf="page < pages">
    <button (click)="viewMore()">Ver más publicaciones</button>
  </div>
</div>
