* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

app-root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: 100vh;
}

/* Initial: */

home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
}

register {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
}

login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
}

/* Header: */

timeline {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

users {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

search {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

messages {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

profile {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

/* Others: */

edit-profile {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

edit-user {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

following {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

followed {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

publication {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

publications-user {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

likes-user {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
}

/* Special: */

makePublication {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
