<!-- WebSockets(incompleto):
<section class="hero">
  <div class="search">
    <input [(ngModel)]="input_message" placeholder="Write a comment" type="text">
    <button (click)="sendData('message')" type="button" class="btn btn-primary btn-sm">ENVIAR</button>
  </div>
</section>

<div class="cardbox-item">
  <ul class="list-ul">
    <li *ngFor="let m of messagesSocket">{{m}}</li>
  </ul>
</div>
-->
<div class="chat">

  <div *ngIf="follows" class="chat_users">
    <div *ngFor="let follow of follows" class="chat_users_user"
         [class.selected]="selected == follow.user._id">
      <div (click)="getMessages(follow.user._id)"
           class="chat_users_user_caja">
        <img *ngIf="follow.user.image else defaultImage"
             [routerLink]="['/profile',follow.user._id]"
             src="{{url+'getImage/'+follow.user.image}}"/>
        <ng-template #defaultImage>
          <img [routerLink]="['/profile',follow.user._id]"
               src="assets/default/imagedefault.png"/>
        </ng-template>
        <p class="chat_users_user_caja_nombre">
          {{follow.user.name}} | @{{follow.user.nick}}
        </p>
      </div>
    </div>
  </div>

  <div class="chat_caja">
    <div *ngIf="messages else noMensajes" class="chat_caja_mensajes" id="scroll">
      <div *ngFor="let message of messages let i = index" [attr.data-index]="i"
           class="chat_caja_mensajes_mensaje"
           [class.not_viewed]="(message.viewed == 'false') && (message.receiver._id == identity._id)"
           [class.mirror]="message.receiver._id == this.identity._id">

        <div *ngIf="message.receiver._id == this.identity._id else right"
             class="chat_caja_mensajes_mensaje_left">
          <img *ngIf="message.emitter.image else imageMsgDefault"
               [routerLink]="['/profile',message.emitter._id]"
               src="{{url+'getImage/'+message.emitter.image}}"/>
          <ng-template #imageMsgDefault>
            <img [routerLink]="['/profile',message.emitter._id]"
                 src="assets/default/imagedefault.png"/>
          </ng-template>
          <p class="chat_caja_mensajes_mensaje_left_caja copiar">
            {{message.text}}
          </p>
        </div>

        <ng-template #right>
          <div class="chat_caja_mensajes_mensaje_right">
            <p class="chat_caja_mensajes_mensaje_right_caja copiar">
              {{message.text}}
            </p>
            <div class="chat_caja_mensajes_mensaje_right_opciones">
              <button class="chat_caja_mensajes_mensaje_right_opciones_boton"
                      (click)="desplegarPanel(message._id, message)"></button>
              <div *ngIf="messageCursor == message._id" (click)="desplegarPanel(message._id, message)"
                   class="chat_caja_mensajes_mensaje_right_opciones_lista">
                <button (click)="confirmar = true"
                        class="chat_caja_mensajes_mensaje_right_opciones_lista_eliminar">
                  Eliminar mensaje
                </button>
                <button (click)="copiarMensaje(i)"
                        class="chat_caja_mensajes_mensaje_right_opciones_lista_copiar">
                  Copiar mensaje
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div *ngIf="messages" class="chat_caja_enviar">
      <textarea placeholder="Enviar un mensaje..." [(ngModel)]="input"
                class="chat_caja_enviar_input"></textarea>
      <button (click)="addMessage(receiver)" class="chat_caja_enviar_boton">Enviar</button>
    </div>

    <ng-template #noMensajes>
      <div class="chat_caja_default">
        <h1>Pincha en un usuario para conversar</h1>
      </div>
    </ng-template>

  </div>

</div>

<div *ngIf="confirmar" class="fondo">
</div>

<div class="confirmar" *ngIf="confirmar">
  <div class="confirmar_ventana">
    <div class="confirmar_ventana_titulo">
      <h2>Eliminar mensaje:</h2>
    </div>
    <div class="confirmar_ventana_mensaje">
      <p>Este mensaje se eliminará por completo y no podrá ser recuperado</p>
    </div>
    <div class="confirmar_ventana_botones">
      <button (click)="confirmar = false" class="confirmar_ventana_botones_cancelar">
        Cancelar
      </button>
      <button (click)="deleteMessage(store)" class="confirmar_ventana_botones_eliminar">
        Eliminar
      </button>
    </div>
  </div>
</div>
