<!-- WebSockets(incompleto):
<section class="hero">
  <div class="search">
    <input [(ngModel)]="input_message" placeholder="Write a comment" type="text">
    <button (click)="sendData('message')" type="button" class="btn btn-primary btn-sm">ENVIAR</button>
  </div>
</section>

<div class="cardbox-item">
  <ul class="list-ul">
    <li *ngFor="let m of messagesSocket">{{m}}</li>
  </ul>
</div>
-->
<div class="chat" xmlns="http://www.w3.org/1999/html">

  <div *ngIf="follows" class="chat_users">
    <div *ngFor="let follow of follows" class="chat_users_user">
      <div (click)="getMessages(follow.user._id)" class="chat_users_user_caja">
        <img *ngIf="follow.user.image else defaultImage"
             src="{{url+'getImage/'+follow.user.image}}"/>
        <ng-template #defaultImage>
          <img src="assets/default/imagedefault.png"/>
        </ng-template>
        <p class="chat_users_user_caja_nombre">
          {{follow.user.name}} | @{{follow.user.nick}}
        </p>
      </div>
    </div>
  </div>

  <div class="chat_caja">
    <div *ngIf="messages else noMensajes" class="chat_caja_mensajes">
      <div *ngFor="let message of messages" class="chat_caja_mensajes_mensaje">
        <div class="chat_caja_mensajes_mensaje_caja"
             [class.danger]="(message.viewed == 'false') && (message.receiver._id == identity._id)">
          Mensaje de @{{message.emitter.nick}} al usuario @{{message.receiver.nick}}
          {{message.text}}
        </div>
      </div>
    </div>

    <div *ngIf="messages" class="chat_caja_enviar">
      <textarea placeholder="Enviar un mensaje..." [(ngModel)]="input"
             class="chat_caja_enviar_input"></textarea>
      <button (click)="addMessage(receiver)" class="chat_caja_enviar_boton">Enviar</button>
    </div>

    <ng-template #noMensajes>
      <div class="chat_caja_default">
        <h1>Pincha en un usuario para conversar</h1>
      </div>
    </ng-template>
  </div>

</div>
