<!-- WebSockets(incompleto):
<section class="hero">
  <div class="search">
    <input [(ngModel)]="input_message" placeholder="Write a comment" type="text">
    <button (click)="sendData('message')" type="button" class="btn btn-primary btn-sm">ENVIAR</button>
  </div>
</section>

<div class="cardbox-item">
  <ul class="list-ul">
    <li *ngFor="let m of messagesSocket">{{m}}</li>
  </ul>
</div>
-->

<div *ngIf="follows">
  <div *ngFor="let follow of follows">
    <button (click)="getMessages(follow.user._id)">
      {{follow.user.name}} | @{{follow.user.nick}}
    </button>
    <hr/>
  </div>
</div>

<div *ngIf="messages">
  Mensajes: {{messages.length}}
  <div *ngFor="let message of messages">
    <div [class.danger]="(message.viewed == 'false') && (message.receiver._id == identity._id)">
      Mensaje de @{{message.emitter.nick}} al usuario @{{message.receiver.nick}}
      {{message.text}}
      <hr/>
    </div>
  </div>
</div>
<div>
  <h2>Enviar mensaje:</h2>
  <input type="text" [(ngModel)]="input"/>
  <button (click)="addMessage(receiver)">Enviar</button>
</div>
