.selected {
  background: #ccfff4 !important;
}

.danger {
  background: #73d6d0 !important;
}

.mirror {
  justify-content: flex-start !important;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
}

/* Chat - Users: */

.chat_users {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border: 1px solid black;
  overflow: auto;
}

.chat_users_user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  cursor: pointer;
  border-bottom: 1px solid #d2d2d2;
}

.chat_users_user_caja {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.chat_users_user_caja > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 1%;
}

.chat_users_user_caja_nombre {
  font-size: 1.3rem;
}

/* Chat - Caja: */

.chat_caja {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border: 1px solid black;
}

.chat_caja_mensajes {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background: #e1fffe;
  overflow: auto;
}

.chat_caja_mensajes_mensaje {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1%;
}

/* Mensajes - Mensaje - Left: */

.chat_caja_mensajes_mensaje_left {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 50%;
}

.chat_caja_mensajes_mensaje_left > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 1%;
  top: 0;
}

.chat_caja_mensajes_mensaje_left_caja {
  position: relative;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  padding: 2%;
  max-width: 70%;
  background: #fff;
  overflow-wrap: break-word;
}

/* Mensajes - Mensaje - Right: */

.chat_caja_mensajes_mensaje_right {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
}

.chat_caja_mensajes_mensaje_right_caja {
  position: relative;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  padding: 2%;
  max-width: 70%;
  background: #bbffbf;
  overflow-wrap: break-word;
}

/* Chat - Enviar: */

.chat_caja_enviar {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
}

.chat_caja_enviar_input {
  width: 80%;
  height: 100%;
  resize: none;
  font-size: 1.2rem;
}

.chat_caja_enviar_boton {
  width: 20%;
  height: 100%;
  cursor: pointer;
}

/* Chat - Caja(Default): */

.chat_caja_default {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c9fffe;
  color: black;
  width: 100%;
  height: 100%;
}
