<h1>{{title}}</h1>
<div *ngIf="publication" class="publicaciones_publicacion">
  <div class="publicaciones_publicacion_imagen" [routerLink]="['/publication',publication._id]">
    <img [routerLink]="['/profile',publication.user._id]" *ngIf="publication.user.image"
      src="{{url+'/getImage/'+publication.user.image}}" />
    <img [routerLink]="['/profile',publication.user._id]" *ngIf="!publication.user.image"
      src="assets/default/banner_default.jpg" />
  </div>

  <div class="publicaciones_publicacion_datos" [routerLink]="['/publication',publication._id]">
    <div class="publicaciones_publicacion_datos_nombres">
      <a [routerLink]="['/profile',publication.user._id]">
        {{publication.user.name}} | @{{publication.user.nick}}
      </a>
      <span class="date">
        {{ (publication.created_at) * 1000 | date: 'medium'}}
      </span>
    </div>
    <div class="publicaciones_publicacion_datos_texto">
      <p>{{publication.text}}</p>
    </div>
    <div class="publicaciones_publicacion_datos_likes">
      <p *ngIf="publication.stats" (click)="getLikesPublication(1)" (click)="openUsers = true">{{publication.stats}}</p>
      <li *ngIf="likes.indexOf(publication._id) === -1" (click)="addLike(publication)"
        class="publicaciones_publicacion_datos_likes_like">
        <img src="assets/icons/star-empty.png">
      </li>
      <li *ngIf="likes.indexOf(publication._id) !== -1" (click)="deleteLike(publication)"
        class="publicaciones_publicacion_datos_likes_like">
        <img src="assets/icons/star-full.png">
      </li>
    </div>
  </div>

  <div class="publicaciones_publicacion_opciones">
    <button class="publicaciones_publicacion_opciones_boton" (click)="desplegarPanel(publication._id)">
    </button>
    <div *ngIf="this.publicationCursor == publication._id" class="publicaciones_publicacion_opciones_panel"
      (click)="desplegarPanel(publication._id)">
      <button *ngIf="this.identity._id == publication.user._id" (click)="confirmar = true"
        class="publicaciones_publicacion_opciones_panel_borrar">
        Borrar!
      </button>
      <button *ngIf="this.identity._id != publication.user._id"
        class="publicaciones_publicacion_opciones_panel_denunciar">
        Denunciar Tweet
      </button>
    </div>
  </div>
</div>

<div *ngIf="confirmar" class="fondo">
</div>

<div class="confirmar" *ngIf="confirmar">
  <div class="confirmar_ventana">
    <div class="confirmar_ventana_titulo">
      <h2>Eliminar publicación:</h2>
    </div>
    <div class="confirmar_ventana_mensaje">
      <p>Esta publicación se eliminará por completo y no podrá ser recuperada</p>
    </div>
    <div class="confirmar_ventana_botones">
      <button (click)="confirmar = false" class="confirmar_ventana_botones_cancelar">
        Cancelar
      </button>
      <button (click)="deletePublication(store)" class="confirmar_ventana_botones_eliminar">
        Eliminar
      </button>
    </div>
  </div>
</div>

<div *ngIf="openUsers" class="users">
  <div *ngFor="let like of users" class="users_user">
    <div class="users_user_imagen">
      <img *ngIf="like.user.image" src="{{url+'/getImage/'+like.user.image}}"/>
      <img *ngIf="!like.user.image" src="assets/default/banner_default.jpg"/>
    </div>

    <div class="users_user_datos">
      <div class="users_user_datos_nombres">
        <a [routerLink]="['/profile',like.user._id]">{{like.user.name}} | @{{like.user.nick}}</a>
      </div>
      <div class="users_user_datos_texto">
        <p>{{like.user.biography}}</p>
      </div>
    </div>

    <div *ngIf="identity._id != like.user._id" class="users_user_opciones">
      <div *ngIf="this.follows" class="users_user_opciones_boton">
        <button *ngIf="follows.indexOf(like.user._id) < 0 ;else following"
                (click)="followUser(like.user._id)"
                class="safe">
          Seguir
        </button>
        <ng-template #following>
          <button (mouseenter)="mouseEnter(like.user._id)" (mouseleave)="mouseLeave()"
                  (click)="unfollowUser(like.user._id)" [class.danger]="followCursor==like.user._id">
            <span *ngIf="followCursor != like.user._id ;else unfollow">Siguiendo</span>
            <ng-template #unfollow>Dejar de seguir</ng-template>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="users_paginas">
    <button *ngIf="page > 1" (click)="prevPage()">Anterior</button>
    <button *ngIf="page < pages" (click)="nextPage()">Siguiente</button>
  </div>

</div>
