.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  background: #ff4141;
}

/* No identity: */

.menu_noidentity {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.menu_noidentity > img {
  margin-left: 5px;
  margin-right: 5px;
}

/* Identity: */
.menu_opciones {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 5%;
}

.menu_opciones-botones {
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  height: 80%;
  width: 56px;
}

.menu_opciones-botones:hover {
  background: #ff9191;
  transition-duration: 0.2s;
}

/* Menu - Cabecera: */

.menu_cabecera > img {
  margin-left: 5px;
  margin-right: 5px;
}

.menu_cabecera {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}

/* Menu - Perfil: */

.menu_perfil {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 5%;
}

.menu_perfil-botones {
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  height: 80%;
  width: 56px;
}

.menu_perfil-botones:hover {
  background: #ff9191;
  transition-duration: 0.2s;
}

.menu_perfil_cuenta {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu_perfil_cuenta_ajustes {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -145px;
  left: -6px;
  border: 1px solid #00b8b4;
  z-index: 5;
}

.menu_perfil_cuenta_ajustes:before {
  content: '';
  border: 15px solid #00b8b4;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -30px;
  left: calc(50% - 15px);
}

.menu_perfil_cuenta_ajustes > button {
  cursor: pointer;
  background: #d9d9d9;
  color: black;
  padding: 10px;
  border: 1px solid #858585;
}

.menu_perfil_cuenta_ajustes > button:hover {
  cursor: pointer;
  background: #c1bfbf;
  color: black;
}

/* makePublication: */

.makePublication {
  position: fixed;
  bottom: 7%;
  right: 7%;
  z-index: 1;
}

.makePublication_boton {
  border-radius: 50px;
  background: red;
  padding: 10px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}

.closePublication {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.closePublication_barra {
  position: relative;
  left: 25%;
  top: 21%;
  width: 50%;
  height: 8%;
  border: 2px solid black;
  background: #eee;
}

.closePublication_barra_boton {
  height: 100%;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-left: 1%;
}

.closePublication_barra_2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25%;
  top: 63%;
  width: 50%;
  height: 8%;
  background: #eee;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.closePublication_barra_2_boton {
  height: 100%;
  outline: none;
  background: greenyellow;
  cursor: pointer;
  padding-left: 1%;
  border: 1px solid black;
}

/* Loading: */
.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}
