/* Header: */

.header {
  position: relative;
  width: 100%;
  height: 70px;
}

/* Header - No Identity: */

.header_noidentity {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  background: #ff4141;
  z-index: 4;
}

.header_noidentity_cabecera {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.header_noidentity_cabecera>img {
  margin-left: 5px;
  margin-right: 5px;
}

/* Header - Identity: */

.header_identity {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  border: 1px solid black;
  background: #ff4141;
  z-index: 4;
}

.header_identity_left {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 5%;
}

.header_identity_left-botones {
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  height: 80%;
  width: 56px;
}

.header_identity_left-botones:hover {
  background: #ff9191;
  transition-duration: 0.2s;
}

.header_identity_cabecera {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.header_identity_cabecera>img {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.header_identity_cabecera>h2 {
  cursor: pointer;
}

.header_identity_right {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-right: 5%;
}

.header_identity_right-botones {
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  height: 80%;
  width: 56px;
}

.header_identity_right-botones:hover {
  background: #ff9191;
  transition-duration: 0.2s;
}

.header_identity_right_perfil {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header_identity_right_perfil-opciones {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -145px;
  left: -6px;
  border: 1px solid #00b8b4;
  z-index: 5;
}

.header_identity_right_perfil-opciones:before {
  content: '';
  border: 15px solid #00b8b4;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -30px;
  left: calc(50% - 15px);
}

.header_identity_right_perfil-opciones>button {
  cursor: pointer;
  background: #d9d9d9;
  color: black;
  padding: 10px;
  border: 1px solid #858585;
}

.header_identity_right_perfil-opciones>button:hover {
  cursor: pointer;
  background: #c1bfbf;
  color: black;
}

/* makePublication: */

.makePublication {
  position: fixed;
  bottom: 7%;
  right: 7%;
  z-index: 1;
}

.makePublication_boton {
  border-radius: 50px;
  background: red;
  padding: 10px;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}

/* Loading: */

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

/* Fondo: */

.fondo {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #c9d2ff;
  z-index: 7;
  opacity: 0.5;
  top: 0;
}
