<div class="publicaciones">

  <div *ngIf="publications" class="publicaciones_refrescar">
    <button (click)="refresh()">Refrescar</button>
  </div>

  <div *ngFor="let like of publications" class="publicaciones_publicacion">

    <div class="publicaciones_publicacion_imagen">
      <img *ngIf="like.publication.user.image" src="{{url+'/getImage/'+like.publication.user.image}}"/>
      <img *ngIf="!like.publication.user.image" src="assets/default/banner_default.jpg"/>
    </div>

    <div class="publicaciones_publicacion_datos">
      <div class="publicaciones_publicacion_datos_nombres">
        <a [routerLink]="['/profile',like.publication.user._id]">
          {{like.publication.user.name}} | @{{like.publication.user.nick}}
        </a>
        <span class="date">
            {{ (like.publication.created_at) * 1000 | date: 'medium'}}
        </span>
      </div>
      <div class="publicaciones_publicacion_datos_texto">
        <p>{{like.publication.text}}</p>
      </div>
      <div class="publicaciones_publicacion_datos_likes">
        <p *ngIf="like.publication.stats">{{like.publication.stats}}</p>
        <li *ngIf="likes.indexOf(like.publication._id) === -1" (click)="addLike(like.publication)"
            class="publicaciones_publicacion_datos_likes_like">
          <img src="assets/icons/star-empty.png">
        </li>
        <li *ngIf="likes.indexOf(like.publication._id) !== -1" (click)="deleteLike(like.publication)"
            class="publicaciones_publicacion_datos_likes_like">
          <img src="assets/icons/star-full.png">
        </li>
      </div>
    </div>

    <div class="publicaciones_publicacion_opciones">
      <button class="publicaciones_publicacion_opciones_boton"
              (click)="desplegarOpciones(like.publication._id)">
      </button>
      <div *ngIf="this.publicationCursor == like.publication._id"
           class="publicaciones_publicacion_opciones_panel" (click)="desplegarOpciones(like.publication._id)">
        <button *ngIf="this.identity._id == like.publication.user._id"
                (click)="confirm = true"
                class="publicaciones_publicacion_opciones_panel_borrar">
          Borrar!
        </button>
        <button *ngIf="this.identity._id != like.publication.user._id"
                class="publicaciones_publicacion_opciones_panel_denunciar">
          Denunciar Tweet
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="page < pages" class="publicaciones_vermas">
    <button (click)="viewMore()">Ver más publicaciones</button>
  </div>

</div>

<!-- Confirmar: -->

<div *ngIf="confirm" class="fondo">
</div>

<div class="confirmar" *ngIf="confirm">
  <div class="confirmar_ventana">

    <div class="confirmar_ventana_titulo">
      <h2>Eliminar publicación:</h2>
    </div>

    <div class="confirmar_ventana_mensaje">
      <p>Esta publicación se eliminará por completo y no podrá ser recuperada</p>
    </div>

    <div class="confirmar_ventana_botones">
      <button (click)="confirm = false" class="confirmar_ventana_botones_cancelar">
        Cancelar
      </button>
      <button (click)="deletePublication(storePublicationId)" class="confirmar_ventana_botones_eliminar">
        Eliminar
      </button>
    </div>

  </div>
</div>
